* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Habibi", serif;
}

body {
    height: 80vh;
}

header {
    position: sticky;
    top: 0.1px;
    z-index: 10;
}

.header {
    background-color: rgba(0, 0, 0, 0.411);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 24px;
    height: 78px;

}

.lista {
    display: flex;

}

.lista li a {
    color: black;
    font-family: "Grenze Gotisch", serif;
    font-weight: 400;
    text-decoration: none;
    width: 100%;
    color: #333;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}

ul {
    list-style-type: none;
    color: black;
    text-decoration: none;
}

.ul {
    list-style-type: none;
    color: black;
    text-decoration: none;
}

.busca {
    font-family: "Intel One Mono", monospace;

}

.busca input {
    width: 286px;
    height: 36px;
    font-family: "Intel One Mono", monospace;
    background-color: #FFE4E4;
    border: 0px solid transparent;
    font-size: 24px;

}

.logo {
    background-image: url(logo.png);
    background-size: cover;
    width: 68px;
    height: 68px;
    margin-left: 20px;
    margin-right: 40px;
}

.Carrinho {
    margin-left: 40px;
    color: black;
    font-family: "Grenze Gotisch", serif;
    font-weight: 400;
    text-decoration: none;
    margin-right: 30px;
    width: 100%;
    color: #333;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}

.flex {
    display: flex;
    align-items: center;
}

.flex img {
    width: 40%;
    margin-right: 100%;
}

.busca_carro {
    margin-left: 30%;
    display: flex;
}

li {
    width: 150px;
}

#Inicial {
    width: 150px;
}

#contato {
    width: 105px;
}

#cadastro {
    width: 105px;
}

.texto {
    color: black;
}

/* ==============================sec1================================== */
.sec1 {
    background-color: #FFE4E4;
    width: 100%;
    height: 200%;
    margin-top: -78px;
    display: flex;
    justify-content: space-around;
}

.power {
    width: 100%;
    height: 55%;
    margin-top: 10%;
}

.capa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}

.amostra {
    background-color: #FFC4FE;
    height: 3%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 5%;
    margin-bottom: 5%;
}

.aaa {
    font-size: 16px;
    font-family: "Intel One Mono", monospace;
}

#preco {
    background-color: #F1D8FF;
    width: 100%;
    border-radius: 5%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tipo {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.tipo a {
    margin-top: 2%;
    background-color: white;
    font-size: 16px;
    font-family: "Intel One Mono", monospace;
    color: black;
    width: 30%;
    text-decoration: none;
    text-align: center;
    border-radius: 50px;
}

.capa h1 {
    font-family: 'Graduate', sans-serif;
    font-size: 64px;
}

h1 span {
    font-family: 'Graduate', sans-serif;
    font-size: 32px;
}

.dd {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.space {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.so {
    display: flex;
    justify-content: center;

}

.compra {
    background-color: white;
    text-align: center;
    width: 80%;
    height: 100%;
    font-size: 16px;
    font-family: "Intel One Mono", monospace;
    color: black;
    text-decoration: none;
    text-align: center;
    border-radius: 50px;
}

.info {
    width: 50%;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.info h1 {
    font-size: 60px;
    font-family: "Grenze Gotisch", serif;
}

.info h2 {
    font-family: "Habibi", serif;
}

.infos {
    display: flex;
    justify-content: space-around;
}

.transplate {
    transform: rotate(90deg);
    width: 40%;
    text-align: center;
}

.book {
    width: 40%;
    text-align: center;
}

.txx {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.txx h3 {
    font-family: "Habibi", serif;
    font-size: 24px;
}

.txx p {
    font-family: "Habibi", serif;
    font-size: 15px;
}

/* =======================sec2======================== */
.sec2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70vh;
    background-color: #FFE4E4;
}

.transform {
    transform: rotate(90deg);
}

.sec2 img {
    width: 30%;

}

.cont {
    background-color: #F1D8FF;
    width: 30%;
    height: 50%;
    border-radius: 20px;
}

.contt {
    background-color: #D453FF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 13%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.contt h2 {
    font-family: "Grenze Gotisch", serif;
    font-style: 40px;
}

.imgpower {
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    margin-top: 5%;
    width: 100%;
    place-content: center;
    place-items: center;
}

.imgpower img {
    width: 60%;

}

/* =======================sec3======================== */
.sec3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    background-color: #FFE4E4;
}

.auto {
    width: 80%;
    height: 40vh;
    border-radius: 20px;
    background-color: #FFC4FE;
}

.aut {
    background-color: #E6AAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 13%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.autoras {
    display: flex;
    justify-content: space-around;
    justify-self: center;
    align-items: center;
    margin-top: 1%;

}

.autoras p {
    width: 70%;
    font-size: 25px;
    font-family: "Habibi", serif;


}

.autoras img {

    width: 20%;
}

/* ========================sec4======================= */
.sec4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250vh;
    background-color: #FFE4E4;
}

.Avaliações {
    background-color: #FFBDBD;
    width: 100%;
    border-radius: 20px;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.Avaliações h1 {
    font-family: "Grenze Gotisch", serif;
    font-size: 64px;
}

.transforma {
    transform: rotate(90deg);
    width: 5%;
    height: auto;
}

.pessoas {
    width: 10%;
    border-radius: 100%;
    margin-left: 10%;
}

.ava div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.ava {
    display: flex;
    flex-direction: column;

}
#espace {
    margin-bottom: 5%;
}
.ava div h2 {
    font-size: 24px;
    font-family: "Grenze Gotisch", serif;
}

.fale {
    display: flex;
    align-items: center;
    width: 80%;
    font-size: 25px;
    font-family: "Habibi", serif;
    ;
}

#fales {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* ======================sec5======================== */
.sec5 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-color: #FFE4E4;
}
.maismais {
    background-color: #E6AAFA;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}
.maismais h1 {
    font-size: 34px;
    font-family: "Grenze Gotisch", serif;
}
.books {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background-color: #FFC4FE;
    width: 80%;
    height: 30%;
    place-content: center;
    place-items: center;
}
/* ==================footer================= */
footer {
    background-color: #63006C;
    width: 100%;
    height: 80vh;
    color: white;
    text-align: center;
}

footer h1 {
    font-size: 96px;
    font-family: "Grenze Gotisch", serif;
    font-weight: 500;
}

footer h2 {
    font-size: 40px;
    font-family: "Habibi", serif;
    font-weight: 500;
}

.foot {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 30%;
    place-self: center;
}

.titlefoot h3 {
    display: flex;
    justify-content: start;
}

.titlefoot h3 {
    font-size: 32px;
    font-family: "Grenze Gotisch", serif;
    font-weight: 500;
}

.titlefoot li {
    text-align: left;
    text-decoration: none;
    list-style-type: none;
    width: 80%;
    font-size: 32px;
    font-family: "Habibi", serif;
}

.titlefoot li img {
    width: 5%;
}

.imgrede {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    margin-top: -8%;
}

.imgrede img {
    width: 20%;
}